@import "./global-styles/global.scss";

.testimonial {
  font-family: $font;
  background-color: white;
  padding: 75px 50px;
  display: flex;
  justify-content: center;
  &__img-container {
    top: 50%;
    left: -280px;
    transform: translateY(-50%);
    position: absolute;
  }
  &__content {
    position: relative;
    box-shadow: 2px 2px 12px 5px rgba(0, 0, 0, 0.2);
    padding: 50px 50px 50px 75px;
    width: 75%;
    max-width: 950px;
    margin-left: 280px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__text {
    margin-right: 75px;
    margin-bottom: 2rem;
  }
  &__name {
    font-weight: 700;
    margin-right: 60px;
  }
  &__quote {
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50px;
    bottom: 50px;
    & svg {
      height: 25px;
      width: 25px;
      & path {
        fill: white;
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .testimonial {
    &__text {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .testimonial {
    padding: 75px 0;
    &__img-container {
      top: -180px;
      left: 50%;
      transform: translateX(-50%);
    }
    &__content {
      max-width: unset;
      width: 90%;
      margin-left: 0;
      margin-top: 180px;
      padding: 50px 30px 30px 30px;
    }
  }
}

@media screen and (max-width: 400px) {
  .testimonial {
    &__img-container {
      top: -130px;
      img {
        width: 250px;
      }
    }
    &__content {
      margin-top: 130px;
    }
    &__name {
      margin-right: 80px;
    }
  }
}
